.btn {
    outline: none;
    border: none;
    background: none;
}
.btn:focus {
    outline:0;
}

.title{
    font-size: 65px !important;
}

.subtitle{
    font-size: 35px !important;
}

.input, .uploadInput, .textarea {
  margin-top: 10px;
}

#upload, #clear { 
  margin: 30px;
}

.text {
    color:black;
}

#content{
  margin: 30px;
}

.format {
  height: 225px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.gradient{
    background: rgb(255,202,223);
    background: linear-gradient(90deg, rgba(255,202,223,1) 0%, rgba(255,233,195,1) 50%, rgba(194,255,211,1) 100%);
}