input::placeholder {
  color: antiquewhite;
}

.navbar {
  background: var(--card-bg);
}

.card {
  overflow: hidden;
  /* background-color: rgb(255,202,223) !important; */
  color: var(--bg);
}

.card.large {
  border-radius: 5px;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background: white;
}

a:hover {
    color: rgb(255,202,223);
}

.add a:hover, .card-footer a:hover{
    color: white !important;
}

.fa {
  color: ghostwhite;
  margin: 10px
}

.add{
    color: black !important;
    font-size: 113px;
}

.note-content{
    color: black !important;
}

.title{
    color: white;
}

.in{
    margin-bottom: 10px !important;
}

html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}

.dark{
    background-color: hsl(0, 0%, 21%);
    color: white;
}